<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cs2GenLinqToXml.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cs2GenLinqToXml.Gui.Properties.Settings>
            <setting name="ErrorColor" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="IncludeLinqCompletePathNamespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeXComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NamespaceForCSharpFiles" serializeAs="String">
                <value>Cs2GenLinqToXml</value>
            </setting>
            <setting name="ParseXml" serializeAs="String">
                <value>True</value>
            </setting>
        </Cs2GenLinqToXml.Gui.Properties.Settings>
    </userSettings>
</configuration>